<IfModule mod_rewrite.c>
    RewriteEngine On

    RewriteRule ^(app|core|config|routes|vendor|storage|logs)(/|$) - [F,L]


    RewriteRule ^$ public/ [L]
    RewriteRule (.*) public/$1 [L]
</IfModule>